.calc-container {
  width: 50%;
  margin: 20px auto;
  border: 1px solid grey;
  /* grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 60px 40px 40px 40px 40px 40px;
  border: 1px solid black; */
}
@media (max-width: 500px) {
  .calc-container {
    width: 90%;
  }
}
.number-container {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
}
